body {
    background-color: gray;
}
#canvas {
    position: absolute;
    border: 5px black;
    background-color: red;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
}

#buttons{
    display: flex;
    justify-content: center;
}

#pause,#reset{
    background-color: aquamarine;
    margin-right: 1%;
}

#score{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}